<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light">

    <div class="container">

        <a class="navbar-brand text-light" href="/">Build Web Apps</a>

        <ul class="navbar-nav text-light ml-auto">

            <li class="nav-item">
                <a class="nav-link text-light" href="/course/bacs350/textbook">Table of Contents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/course/bacs350/textbook/1">Chapters</a>
            </li>

        </ul>

    </div>

</nav>