{% extends 'pub_script/writer_theme.html' %}


{% block content %}

<!-- <div>
    <div class="card m-2">
        <div class="card-header bg-success text-light">
            New Content
        </div>
        <div class="card-body bg-light text-dark">

            {% if form.non_field_errors %}
            <p>{{ form.non_field_errors }}</p>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary m-2">Create Pub Content</button>
            </form> 
            <a href="add" class="btn  btn-success">Add New Content</a>

        </div>
    </div>

</div> -->

<div class="row">

    {% if doc %}

    <div class="col-lg">

        <div class="card">
            <div class="card-header bg-primary text-light">
                {{ doc }} - {{ words }} words
            </div>
            <div class="card-body bg-light text-dark m-2 p-5">
                {% autoescape off%}
                {{ html }}
                {% endautoescape %}
            </div>
        </div>

    </div>

    {% else %}

    <div class="row">

        {% if pubs %}
        <div class="col-lg">
            <div class="card m-2">
                <div class="card-header bg-success text-light">
                    Publications
                </div>
                <div class="card-body bg-light text-dark">
                    <strong>Pubs</strong>
                    <ul>
                        {% for pub in pubs %}
                        <li>
                            {% autoescape off%}
                            {{ pub }}
                            {% endautoescape %}
                        </li>
                        {% endfor %}
                    </ul>
                    <a class="btn btn-success" href="/writer/add">Add Project</a>
                </div>
            </div>
        </div>
        {% endif%}

        {% if pub %}
        <div class="col-lg">
            <div class="card m-2">
                <div class="card-header bg-success text-light">
                    Chapters
                </div>
                <div class="card-body bg-light text-dark">
                    <strong>{{ pub }}</strong>
                    <ul>
                        {% for doc in chapters %}
                        <li>
                            {% autoescape off%}
                            {{ doc }}
                            {% endautoescape %}
                        </li>
                        {% endfor %}
                    </ul>
                    <a class="btn btn-success" href="/writer/{{ pub }}/add">Add Chapter</a>

                </div>
            </div>
        </div>
        {% endif%}

        {% if chapter %}
        <div class="col-lg">
            <div class="card m-2">
                <div class="card-header bg-success text-light">
                    Revisions
                </div>
                <div class="card-body bg-light text-dark">
                    <strong>{{ chapter }}</strong>
                    <ul>
                        {% for doc in docs %}
                        <li>
                            {% autoescape off%}
                            {{ doc }}
                            {% endautoescape %}
                        </li>
                        {% endfor %}
                    </ul>
                    <a class="btn btn-success" href="/writer/{{ pub }}/{{ chapter }}/add">Add Revision</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    {% endif%}


    <div class="col-lg">
        <div>
            <!-- <a class="btn btn-primary" href="/writer/{{ pub }}/{{ chapter }}/New.md/">New Revision</a> -->
            <a class="btn btn-primary" href="/writer/{{ pub }}/{{ chapter }}/{{ doc }}/">Edit Files</a>
            <a class="btn btn-primary" href="/writer/{{ pub }}/{{ chapter }}/{{ doc }}/publish">Publish Chapter</a>
            <a class="btn btn-primary" href="/writer/{{ pub }}/{{ chapter }}/add">Add Doc</a>
        </div>
        {% if ai or human %}
        {% if human %}

        <div class="card m-2">
            <div class="card-header bg-success text-light">
                Human Prompt
            </div>
            <div class="card-body">
                {% autoescape off%}
                {{ human }}
                {% endautoescape %}
            </div>
        </div>

        {% endif%}
        {% if ai %}

        <div class="card m-2">
            <div class="card-header bg-success text-light">
                AI Prompt
            </div>
            <div class="card-body">
                {% autoescape off%}
                {{ ai }}
                {% endautoescape %}

                <a class="btn btn-primary" href="/writer/{{ pub }}/{{ chapter }}/{{ doc }}/ai">Run Script</a>
            </div>
        </div>

        {% endif%}
        {% endif%}
    </div>

</div>
{% endblock content %}