{% extends 'publish_theme.html' %}

{% block content %}
  <div class="container text-dark">
    <div class="row">
      <div class="col-md-6">
        <div class="card m-2">
          <div class="card-header">Contact Info & Social Media</div>
          <div class="card-body">
            <p>Email: mark.seaman@shrinking-world.com</p>
            <p>Mastodon: @mdseaman@mas.to</p>
            <p>X: @mdseaman (inactive)</p>
            <p>Instagram: MarkSeaman</p>
            <p>Facebook: Mark Seaman (inactive)</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card m-2">
          <div class="card-header">Web Sites</div>
          <div class="card-body">
            <p>
              <a href="https://www.amazon.com/Mark-D-Seaman/e/B0198U6JCA">Amazon Author Page</a>
            </p>
            <p>
              Company: <a href="https://shrinking-world.com">Shrinking World Solutions</a>
            </p>
            <p>
              Community: <a href="https://shrinking-world.io">Shrinking World I/O</a>
            </p>
            <p>
              School: <a href="https://shrinking-world.org">Shrinking World Training</a>
            </p>
            <p>
              UNC Email: <a href="mailto:Mark.Seaman@unco.edu">Mark.Seaman@unco.edu</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card m-2">
          <div class="card-header">Mark Seaman</div>
          <div class="card-body">
            <a href="/static/images/MarkSeaman/Mark-Seaman-Profile.jpg" target="image"><img src="/static/images/MarkSeaman/Mark-Seaman-Profile.jpg" alt="Mark Seaman" width="300" /></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card m-2">
          <div class="card-header">Book a Meeting</div>
          <div class="card-body">
            <p>I am eager to meet with old friends and new. I love to collaborate on projects and explore new ideas.</p>
            <p>My calendar shows the times when I'm available.</p>

            <p>
              <a class="btn btn-primary" href="https://cal.com/mdseaman">Book a meeting with me</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
